%tr
  %td{:width => '10%'}
    &nbsp;
  %td{:width => '50%'}
    %h4= link_to forum_topic.name, beta_test_forum_category_forum_topic_path(current_beta_test, current_forum_category, forum_topic)
  %td.align-right
    - if developer
      .buttle-small= link_to 'edit', edit_beta_test_forum_category_forum_topic_path(current_beta_test, current_forum_category, forum_topic)
      .buttle-small= link_to 'destroy', beta_test_forum_category_forum_topic_path(current_beta_test, current_forum_category, forum_topic), :confirm => 'Are you sure? This will delete all topics and posts in this category!', :method => :delete
  %td{:width => '10%'}
    &nbsp;
%tr
  %td
  %td{:colspan => '2'}
    =forum_topic.description
    %hr
  %td
