%tr
  %td{:width => '10%'}
    &nbsp;
  %td{:width => '50%'}
    %h4= link_to forum_topic.name, forum_topic
  %td.align-right
    - if developer
      .buttle-small= link_to 'edit', edit_forum_topic_path(forum_topic)
      .buttle-small= link_to 'destroy', forum_topic, :confirm => 'Are you sure? This will delete all posts in this topic!', :method => :delete
  %td{:width => '10%'}
    &nbsp;
%tr
  %td
  %td{:colspan => '2'}
    =forum_topic.description
    %hr
  %td
