%h1 Listing leaders

%table
  %tr
    %th
    %th
    %th

  - @leaders.each do |leader|
    %tr
      %td= link_to 'Show', leader
      %td= link_to 'Edit', edit_leader_path(leader)
      %td= link_to 'Destroy', leader, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Leader', new_leader_path
