= render 'buttons'
%hr

- if @blogs.count > 0
  =paginate @blogs
  %table
    = render @blogs
  =paginate @blogs
- else
  %h2.color-2 No blogs have been published for this betta test.
  %hr
= render 'buttons'
