.bubble-top-large
  %h1 new betta test
.content
  =form_for(@beta_test) do |f|
    = render 'layouts/notice'
    = render 'layouts/errors', :object => @beta_test
    %table
      = render 'form', :f => f
    = render 'buttons', :f => f
