%tr
  %td{ :width => '70%' }
    %h3= link_to forum_category.name, forum_category, :remote => true
    &nbsp;-&nbsp;
    visible to
    = forum_category.access_level_name
  - if developer || admin
    %td.align-right
      .buttle-small= link_to 'edit', edit_forum_category_path(forum_category)
      .buttle-small= link_to 'destroy', forum_category, :confirm => 'Are you sure? This will delete all topics and posts in this category!', :method => :delete
%tr
  %td{:colspan => '2', :id => ["category", forum_category.id]}
    =render :partial => 'forum_categories/description', :object => forum_category.description
