- if developer || admin
  .buttle-medium= link_to 'new category', new_beta_test_forum_category_path
%hr

- if @forum_categories
  %table
    =render @forum_categories
- else
  %h2 No forum categories have been created for this betta test.

- if developer || admin
  .buttle-medium= link_to 'new category', new_beta_test_forum_category_path
