.center-bubble
  %p#notice= notice
  = link_to 'edit', edit_beta_test_forum_category_path(current_beta_test, @forum_category)
  |
  = link_to 'back', beta_test_forum_categories_path(current_beta_test)
