%h1.center.dark-blue Still waiting for email confirmation.
%h3.center You should have recieved an email at the address you provided.
%h3.center Please follow the link provided in that email to activate your account.
%h3
	%br/
	Or resend the email.