%div.span-24.last
	%div.span-12
		%br/
		%h1.focus-box.round Software Enthusiasts
	%div.span-12.last
		%br/
		%h1.focus-box.round Software Developers
%div.span-24.last
	%div.span-12
		%ul.loud
			%li.feature-list-1 Be the first of your friends to try out the latest software.
			%li.feature-list-2 Shape the development of the best new programs and websites.
			%li.feature-list-3 Have fun, get involved and collaborate with other testers.
	%div.span-12.last
		%ul.loud
			%li.feature-list-1 Let the community maintain itself and weed out trolls.
			%li.feature-list-2 Automatically manage your active tester list.
			%li.feature-list-3 Get your community active, involved and excited.
%div.span-24.last
	%br/
	%h1.signup-box.round Sign up for free!
%div.span-24.last
	%div.span-12
		%h3.focus-box.round
			=link_to "learn more", :about, :class => "light-link"
	%div.span-12.last
		%h3.focus-box.round
			=link_to "check the blog", :about, :class => "light-link"
