<h1>Listing ticket_categories</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_categories.each do |ticket_category| %>
  <tr>
    <td><%= link_to 'Show', ticket_category %></td>
    <td><%= link_to 'Edit', edit_ticket_category_path(ticket_category) %></td>
    <td><%= link_to 'Destroy', ticket_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket category', new_ticket_category_path %>
