.buttle-medium
  = link_to 'overview', about_path(:page => 'overview')
.buttle-medium
  = link_to 'about the game', about_path(:page => 'game')
.buttle-medium
  = link_to 'more developer info', about_path(:page => 'developer')
.buttle-medium
  = link_to 'subscription info', about_path(:page => 'subscription')
%br
%br
