.center-tab-box-top
  %h1.color-2 about bettatest.com
.center-tab-box-bottom
  .plain-text
    %h2.color-2 Betta test is a simple but powerful service that lets software companies and developers run community driven beta tests. It also lets people who love new software get it before the public and get involved in shaping the final product.
  .tab-container-8
    .tab-box-top.bg-1
      %h2 Software & Technology Enthusiasts
    .tab-box-bottom
      %h3 How does it work?
      %ul
        %li Sign up for free.
        %li Apply to a beta test that looks interesting.
        %li Hang out a while until you get an email saying you're on the active tester list.
        %li Check the beta test for instructions to try out the program, website or whatever is being tested.
        %li Visit the test every day to hold your place.
        %li Get involved with the community by voting on surveys, participating in the forums and voting on other user's forum posts.
        %li Get recognized for being an active contributor through the game like system.
        %li Get rewarded for being an active contributor by the cooler software developers (like betta test).
        %li Apply to more beta tests and repeat.
  .tab-container-8-last
    .tab-box-top.bg-1
      %h2 Software & Website Developers
    .tab-box-bottom
      %h3 How does it work?
      %ul
        %li Sign up for free.
        %li Follow the simple steps to have your 'betta test' running in just a few minutes.
        %li Post on your 'betta test blog' to get people interested and excited about what's going on behind the scenes.
        %li Set up and manage your 'betta test forum'.
        %li Create some 'betta test surveys'
        %li Find some testers to populate your waiting list or draw from betta test's growing pool of enthusiasts.
        %li Let your community manage itself using a game like system.
        %li Respond to your users to keep them interested and let them know their opinions are shaping the future of your software.
        %li Reward your users to give them an added incentive to being a top contributor.
        %li Create more software and repeat.
  .plain-text
    %br
    %br
    %h3 How does the game work?
  .plain-text
    %h4
      %p 
        Like many games, there are points and levels.
        Some actions give you points, some take points away.
        You start the game with 10 points.
        Gain enough points and you go up a level and gain a higher rank in the community.
        Lose enough points and you are out of the beta test.
      %p 
        Every day that passes costs you 1 point.
        Every day that you show up to the test site earns you one point.
        This is to make sure you're still interested.
        If not, you'll eventually be booted from the test to give someone else a chance.
      %p 
        There are 2 easy ways to gain points.
        Voting on surveys gives you 3 points.
        Leaving good, relevant posts also gives you 3 points.
      %p 
        You can also give and take points from other people based on the quality of their forum posts.
        But doing so costs you points.
        So why would you do this if it costs you points?
        Because it gives you power over the community and its members.
      %p 
        If you approve of a post it costs you 1 point but gives 2 points to the poster.
        If they gave you an approval back, you'd both gain 1 point each.
        It's like a 'pay it forward' system.
        If everyone is good to the community, the community will be good to them.
      %p 
        In a perfect world, there would be no griefers or trolls.
        But they'll always be unavoidable.
        Betta test puts the power to control this problem in the hands of the community.
        It costs you 2 points to disapprove of a post and takes 1 away from the poster.
        So if the community gangs up on a troll, they can be booted from the community.
        And if greifers go around robbing everyone of points, they'll boot themselves from the community.
  .plain-text
    %h3 Here's a breakdown of the point system:
  .plain-text
    %table 
      %caption
        All numbers are points.
        The game starts off with 10 points.
      %tr 
        %th  &nbsp;
        %th Gain
        %th Lose
        %th Give
        %th Take
      %tr.even
        %td  one day passes
        %td -
        %td 1
        %td -
        %td -
      %tr 
        %td  sign in once a day
        %td 1
        %td -
        %td -
        %td -
      %tr.even
        %td post in the forum
        %td 3
        %td -
        %td -
        %td -
      %tr 
        %td  vote on a survey
        %td 3
        %td -
        %td -
        %td -
      %tr.even
        %td  approve of a post
        %td -
        %td 1
        %td 2
        %td -
      %tr 
        %td  disapprove of a post
        %td -
        %td 2
        %td -
        %td 1
  %div &nbsp;
