.bubble-top-large
  %h1 more developer info
.content
  = render :partial => 'about_buttons'
  %h4.align-left
    %p
      Please note bettatest.com is pretty far from finished.
      We've got lots more features and elements we're planning on adding.
      It would help us a lot if you would join the developer's test for bettatest.com.
      From there you'll be able to keep up on the latest happenings and help shape the future of bettatest.com.
  %h3 Here's a breakdown of how bettatest.com works for you as a developer.
  %br
  .plain-text
    %ul
      %li
        %h3.align-left about betta tests:
        %h4.align-left
          %p
            Beta tests have a name and and an optional description that are visible to anyone.
            They also can have a password and link to your home page that are only visible to testers.
            When you first create a test it is inactive and private.
          %p
            Inactive tests are unavailable for testing and do not show up in the list of beta tests.
            An inactive test is a great place to set up your forum categories and post your first blog.
            When you're ready for people to join your test you can make it active.
          %p
            %ul
              %li Private tests are what bettatest.com is all about.
              %li A private test is closed to the general public but open to a limited set of 100 testers.
              %li (Subscribers will be able to change the tester limit and any other stats soon.)
              %li A private test uses gaming elements to keep testers active and involved.
          %p
            %ul
              %li When your test is finished you can then make it public.
              %li A public test is more like a help desk.
              %li Anybody can visit it and any signed in member can participate in the forums.
      %li
        %h3.align-left about the blogs:
        %h4.align-left
          %p
            bettatest.com privates a simple but effective blogging system.
            Blogs can be subscribed to by anyone unless your test is inactive.
            You can create as many unpublished blogs as you like and publish them when you're ready.
      %li
        %h3.align-left about the forums:
        %h4.align-left
          %p
            Forums are only accessible to activated testers of your beta test.
            Unless your test is open, in which case they're visible to everybody and accessible to bettatest.com members.
            Forums consist of categories, topics and posts.
            You, the developer can create any of the 3.
            And you can control the access level for forum categories in a closed beta test.
            You can decide whether the forum categories are available to any member, active members or involved members.
            That restriction also works on all the topics and posts in each category.
            This way you can share certain information only with people who are active or involved in your community.
            Anybody who can access your forums can create topics and posts.
            They can also edit their own posts but not topics.
            You have full access however.
  = render :partial => 'about_buttons'
