.bubble-top-large
  %h1 about the game
.content
  = render :partial => 'about_buttons'
  %br
  .plain-text
    %h4.align-left
      %p 
        Like many games, there are points and levels.
        Some actions give you points, some take points away.
        You start the game with 10 points.
        Gain enough points and you go up a level and gain a higher rank in the community.
        Lose enough points and you are out of the beta test.
      %p 
        Every day that passes costs you 1 point.
        Every day that you show up to the test site earns you 1 point.
        This is to make sure you're still interested.
        If not, you'll eventually be booted from the test to give someone else a chance.
      %p 
        -#TODO
        There will be 2 easy ways to gain points.
        Voting on polls will give you 3 points.
        Leaving good, relevant posts also gives you 3 points.
        For now though, there are no polls.
      %p 
        You can also give and take points from other people based on the quality of their forum posts.
        But doing so costs you points.
        So why would you do this if it costs you points?
        Because it gives you power over the community and its members.
      %p 
        If you approve of a post it costs you 1 point but gives 2 points to the poster.
        If they gave you an approval back, you'd both gain 1 point each.
        It's like a 'pay it forward' system.
        If everyone is good to the community, the community will be good to them.
      %p 
        In a perfect world, there would be no griefers or trolls.
        But they'll always be unavoidable.
        Bettatest.com puts the power to control this problem in the hands of the community.
        It costs you 2 points to disapprove of a post and takes 1 away from the poster.
        So if the community gangs up on a troll, they can be booted from the community.
        And if greifers go around robbing everyone of points, they'll boot themselves from the community.
  .plain-text
    %h3 Here's a breakdown of the point system:
  .plain-text
    %table 
      %caption
        All numbers are points.
        The game starts off with 10 points.
      %tr 
        %th &nbsp;
        %th Gain
        %th Lose
        %th Give
        %th Take
      %tr.even
        %td one day passes
        %td -
        %td 1
        %td -
        %td -
      %tr 
        %td sign in once a day
        %td 1
        %td -
        %td -
        %td -
      %tr.even
        %td post in the forum
        %td 3
        %td -
        %td -
        %td -
      %tr 
        %td vote on a poll
        %td 3
        %td -
        %td -
        %td -
      %tr.even
        %td rate up a forum post
        %td -
        %td 1
        %td 2
        %td -
      %tr 
        %td rate down a forum post
        %td -
        %td 2
        %td -
        %td 1
  %div &nbsp;
  = render :partial => 'about_buttons'
