.center-bubble
  %h1.color-2 community driven testing
  .tab-container-8
    .tab-box-top
      %h1 software enthusiasts
    .tab-box-bottom
      %ul.feature-list
        %li.feature-list-1 Be the first of your friends to<br/>try out the latest software.
        %li.feature-list-2 Shape the development of the best<br/>new programs and websites.
        %li.feature-list-3 Have fun, get involved and collaborate<br/>with other testers.
  .tab-container-8-last
    .tab-box-top
      %h1 software developers
    .tab-box-bottom
      %ul.feature-list
        =#%li.feature-list-1 Let the community maintain itself<br/>and weed out trolls.
        %li.feature-list-1 Find out who your audience is and<br/>what they really want before you launch.
        %li.feature-list-2 Automagically manage your<br/>active tester list.
        %li.feature-list-3 Get your community active,<br/>involved and excited.
