.bubble-top-large
  %h1 community driven testing
  %h3.announcement (early adopter / alpha release)
.content-clear
  %table
    %tr
      %td
        .bubble-top-medium
          %h1 software enthusiasts
        .bubble-bottom-medium.bg-f
          %ul.feature-list
            %li.feature-list-1 Be the first of your friends to<br/>try out the latest software.
            %li.feature-list-2 Shape the development of the best<br/>new programs and websites.
            %li.feature-list-3 Have fun, get involved and collaborate<br/>with other testers.
      %td
        .bubble-top-medium
          %h1 software developers
        .bubble-bottom-medium.bg-f
          %ul.feature-list
            %li.feature-list-1 Find out who your audience is and<br/>what they really want before you launch.
            %li.feature-list-2 Automagically manage your<br/>active tester list.
            %li.feature-list-3 Get your community active,<br/>involved and excited.
