.front-page-content
  %h1 time for some Q & A
  %table
    %tr
      %td.fp-left
        %h2
          Bettatest.com is the answer.
          %br
          = link_to "Here's the question.", 'http://stackoverflow.com/questions/962488/private-beta-test-communication-and-infrastructure', :target => '_blank'
      %td.fp-right
        %h2
          Closed beta testing is the question.
          %br
          = link_to "Here's the answer.", 'http://stackoverflow.com/questions/3066648/any-benefit-disadvantages-to-open-beta-vs-closed-beta-for-webapp', :target => '_blank'
