%br
.bubble-top-large
  %br
  %br
.content-clear
  %h2
    Bettatest.com is the answer.
    %br
    = link_to "Here's the question.", 'http://stackoverflow.com/questions/962488/private-beta-test-communication-and-infrastructure', :target => '_blank'
