.bubble-top-large
  %h1 manual page/routes test list
.bubble-bottom-large.bg-f
  %h3 static
  = link_to 'root', root_path
  %br
  = link_to 'about', about_path
  %br
  = link_to 'contact', contact_path
  %br
  %h3 betta tests
  -bt = BetaTest.where(:open => false, :active => true).first.id
  %br
  =link_to 'beta tests', beta_tests_path
  %br
  =link_to 'beta test', beta_test_path(bt)
  %br
  =link_to 'new beta test', new_beta_test_path
  %br
  =link_to 'edit beta test', edit_beta_test_path(bt)
  %br
  %h3 blogs
  -blog = Blog.where(:beta_test_id => bt).first.id
  %br
  =link_to 'blogs', blogs_path(bt)
  %br
  =link_to 'blog', blog_path(bt, blog)
  %br
  =link_to 'new blog', new_blog_path(bt)
  %br
  =link_to 'edit blog', edit_blog_path(bt, blog)
  %br
  %h3 forums
  -fc = ForumCategory.where(:beta_test_id => bt).first.id
  %br
  =link_to 'forum categories', forum_categories_path(:beta_test_id => bt)
  %br
  =link_to 'forum category', forum_category_path(fc, :beta_test_id => bt)
  %br
  =link_to 'new forum category', new_forum_category_path(bt)
  %br
  =link_to 'edit forum category', edit_forum_category_path(bt, fc)
  %br
  -ft = ForumTopic.where(:forum_category_id => fc).first.id
  =link_to 'forum topics', forum_topics_path(bt, fc)
  %br
  =link_to 'forum topic', forum_topic_path(bt, fc, ft)
  %br
  =link_to 'new forum topic', new_forum_topic_path(bt, fc)
  %br
  =link_to 'edit forum topic', edit_forum_topic_path(bt, fc, ft)
  %br
  -fp = ForumPost.where(:forum_topic_id => ft).first.id
  =link_to 'forum posts', forum_posts_path(bt, fc, ft)
  %br
  =link_to 'forum post', forum_post_path(bt, fc, ft, fp)
  %br
  =link_to 'new forum post', new_forum_post_path(bt, fc, ft)
  %br
  =link_to 'edit forum post', edit_forum_post_path(bt, fc, ft, fp)
  %br
  %h3 surveys
  -#sur = Survey.where(:beta_test_id => bt).first.id
  %br
  =#link_to 'surveys', surveys_path(bt)
  %br
  =#link_to 'survey', survey_path(bt, sur)
  %br
  =#link_to 'new survey', new_survey_path(bt)
  %br
  =#link_to 'edit survey', edit_survey_path(bt, sur)
  %br
  -#so = SurveyOption.where(:survey_id => sur)
  =#link_to 'survey options', survey_options_path(bt, sur)
  %br
  =#link_to 'survey option', survey_options_path(bt, sur, so)
  %br
  =#link_to 'new survey option', new_survey_option_path(bt, sur)
  %br
  =#link_to 'edit survey option', edit_survey_option_path(bt, sur, so)
  %br
  %h3 tickets
  -#tc = TicketCategory.where(:beta_test_id => bt).first.id
  %br
  =#link_to 'ticket categories', ticket_categories_path(bt)
  %br
  =#link_to 'ticket category', ticket_categories_path(bt, tc)
  %br
  =#link_to 'new ticket category', new_ticket_category_path(bt)
  %br
  =#link_to 'edit ticket category', edit_ticket_category_path(bt, tc)
  %br
  -#tk = Ticket.where(:ticket_category_id => tc).first.id
  =#link_to 'tickets', tickets_path(bt, tc)
  %br
  =#link_to 'ticket', tickets_path(bt, tc, tk)
  %br
  =#link_to 'new ticket', new_ticket_path(bt, tc)
  %br
  =#link_to 'edit ticket', edit_ticket_path(bt, tc, tk)
  %br
  %h3 users
  -user = User.first.id
  %br
  =link_to 'users', users_path
  %br
  =link_to 'user', user_path(user)
  %br
  =link_to 'new user', new_user_path
  %br
  =link_to 'edit user', edit_user_path(user)
  %br
  -tss = BetaTest.find(bt).tester_stat_sheets.first.id
  =link_to 'tester stat sheets', tester_stat_sheets_path(user)
  %br
  =link_to 'tester stat sheet', tester_stat_sheet_path(user, tss)
  %br
  =link_to 'new tester stat sheet', new_tester_stat_sheet_path(user)
  %br
  =link_to 'edit tester stat sheet', edit_tester_stat_sheet_path(user, tss)
  %br
  -#sub = Subscription.first
  =#link_to 'subscriptions', subscriptions_path(user)
  %br
  =#link_to 'subscription', subscription_path(user, sub)
  %br
  =#link_to 'new subscription', new_subscription_path(user)
  %br
  =#link_to 'edit subscription', edit_subscription_path(user, sub)
  %br
  -#ref = Referral.first
  %br
  =#link_to 'referrals', referrals_path(user)
  %br
  =#link_to 'referral', referral_path(user, ref)
  %br
  =#link_to 'new referral', new_referral_path(user)
  %br
  =#link_to 'edit referral', edit_referral_path(user, ref)
