.bubble-top-large
  %h1 overview
.content
  = render :partial => 'about_buttons'
  %h2.align-center Betta test is a simple but powerful service that lets software companies and developers run community driven beta tests. It also lets people who love new software try it before the public and get involved in shaping the final product. Betta test is completely free for testers and startups with only one project. Subscriptions are available for companies with more than one project they want to test.
  %table
    %tr
      %td{:width => '50%'}
        .bubble-top-medium.bg-1
          %h2 Software & Technology Enthusiasts
        .bubble-bottom-medium
          %h3 How does it work?
          %ul.align-left
            %li Sign up for free.
            %li Apply to a betta test that looks like fun.
            %li Hang out a while until you get an email saying you're on the active tester list.
            %li Check the beta test for instructions to try out the program, website or whatever is being tested.
            %li Visit the test every day to hold your place.
            %li Keep up on the latest happenings by checking the blogs.
            %li Get involved with the community by participating in the forums and voting on other user's forum posts.
            -# %li Get involved with the community by voting on surveys, participating in the forums and voting on other user's forum posts.
            %li Get recognized for being an active contributor through the game like system.
            -# %li Get rewarded for being an active contributor by the cooler software developers (like betta test).
            %li Apply to more betta tests and repeat.
      %td{:width => '50%'}
        .bubble-top-medium.bg-1.color-2
          %h2 Software & Website Developers
        .bubble-bottom-medium
          %h3 How does it work?
          %ul.align-left
            %li Sign up for free.
            %li Follow the simple steps to have your betta test running in just a few minutes.
            %li Post on your 'betta test blog' to get people interested and excited about what's going on behind the scenes.
            %li Set up and manage your 'betta test forum'.
            -# %li Create some 'betta test surveys'
            %li Find some testers to populate your test or draw from betta test's growing pool of enthusiasts.
            %li Let your community manage itself using a game like system.
            %li Respond to your users to keep them interested and let them know their opinions are shaping the future of your software.
            -# %li Reward your users to give them an added incentive to being a top contributor.
            %li Create more software and repeat.
  = render :partial => 'about_buttons'
