.bubble-top-large
  %h1 subscription info
.content
  = render :partial => 'about_buttons'
  %h3 Why should you subscribe?
  %br
  %h4.align-left
    bettatest.com is a startup aimed at helping other startups. We have a rock solid business plan but we have no capital and no investors. We only have one developer and keep costs as low as possible. But we have huge ambitions and want to bring you a fantastic, feature rich, powerful tool for helping you fire up or grow your business. By helping us, you'd be helping yourself and other startups by allowing us to grow and thrive as a company so we can offer you a better service.
  %br
  %h3 current benefits:
  %br
  %h4
    %ul.align-left
      %li
        have unlimited active betta tests running at any time
      %li
        remove advertising from your tests
      %li
        lock in the "Minecraft Special"; get %50 off the monthly rate for as long as you're a subscriber
  %h3 planned benefits:
  %br
  %h4
    %ul.align-left
      %li
        use your own logo and background image
      %li
        priority listing in the betta test directory
      %li
        access to the email addresses of your testers
  %h3 other upcoming features:
  %br
  %h4
    %ul.align-left
      %li
        surveys
      %li
        trouble tickets
      %li
        faqs
      %li
        images for betta tests
      %li
        betta test tagging system
      %li
        acheivements for bettatest.com members to keep them around so they'll be looking for tests to join
      %li
        tie your test into social networks
      %li
        pretty much any thing that enough developers want in our forums
  = render :partial => 'about_buttons'
