.center-bubble
  %h3.color-2.buffer
    %p An email has been sent to the address you provided.
    %p Please follow the link in that email to confirm your address.
    %p Don't forget to check your spam folder.
    %p You may also want to try searching your mail.
    %p If all else fails, we can resend you the confirmation email:
    = link_to 'resend confirmation', resend_confirmation_path



