%h1 Surveys coming soon. We promise.
-#
  - if developer || admin
    .buttle-medium= link_to 'new survey', new_survey_path
  %hr

  - if @surveys
    %table
      =render @surveys
  - else
    %h2 No surveys have been created for this betta test.

  - if developer || admin
    .buttle-medium= link_to 'new survey', new_survey_path
