= render 'buttons'
= render 'layouts/notice'
%hr
-if @tester_stat_sheets.count > 0
  %table
    = render @tester_stat_sheets
-else
  %h2
    This test has no testers
    %br
    or no testers are visible.
  %hr
= render 'buttons'
