<h1>Listing forum_posts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forum_posts.each do |forum_post| %>
  <tr>
    <td><%= link_to 'Show', forum_post %></td>
    <td><%= link_to 'Edit', edit_forum_post_path(forum_post) %></td>
    <td><%= link_to 'Destroy', forum_post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forum post', new_forum_post_path %>
