%tr
  %td{:width => '10%'}
    &nbsp;
  %td{:width => '50%'}
    %h4= survey_option.name
  %td.align-right
    .buttle-small= link_to 'vote', survey_option, :method => :put
  %td{:width => '10%'}
    &nbsp;
%tr
  %td
  %td{:colspan => '2'}
    %hr
  %td
